<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Test POS</title>

<link rel="stylesheet" 
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>






<style>

.denom {
background-color: blue;
//border-radius: 10px;
color: white;
width: 65px;
height:40px;
//margin: 10px 10px 10px 10px;
font-size: 20px;
}



</style>


</head>

<body>
<div ng-app="POS" ng-controller="POScon">

<div class="container">

	<div class="row">
	
		

		
		<div class="col-md-6">
			<br>
			<div class="btn-group-vertical">
			<div class="btn btn-default denom" id="exact" >$</div>
			<div class="btn btn-default denom" id="done" >Done</div> 
			<div class="btn btn- default denom" id="del" > Delete</div>
			<div class="btn btn- default denom" id="print" >print</div>
			</div>
			
			
			<!--  Food Menu Buttons -->
			<div  class="btn-group-vertical">
			<div ng-repeat="x in menu" ng-click="add( x )"  class='btn btn- default denom' >  {{x.name}}</div> 
			
			</div>
			
			
		</div>
		
		<div class="col-md-6">
		
		<div class="out">
			
		</div>
			<div> Subtotal: {{subtotal | currency}}</div>
			<div> Tax: {{ subtotal * (tax - 1) | currency}}</div>
			<div> Paid: {{paid | currency}}</div>

			<div>Total: {{subtotal * tax | currency}}</div>
			<div>Due: {{(subtotal * tax) - paid  | currency}}</div>
			<div>Items: {{list.length}}</div>
		</div>
	</div>
</div>



</div>

<script src="JSPOS_Ang.js"></script>
<script> 
window.onload = prepare;

var app = angular.module('POS', []);
app.controller('POScon',function($scope){
	$scope.menu = [{name: "Fries",price:1.29}, {name: "Ham",price:3.49},{name: "Eggs", price:1.79}];
	$scope.list = [];
	$scope.subtotal = 0;
	$scope.tax = 1.07;
	$scope.paid = 0;
	$scope.add = function(a){
		$scope.list.push(a);
		$scope.subtotal += a.price;
		rg.lineNum++;
		rg.prints(a, "out");
	}
	
	
	
	
	
})

</script>
</body>
</html>